.form-group{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
h3 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
}
.wrapper {
    max-width: 940px;
    margin: 0 auto;
}
.note-container {
    margin-top: 100px;
}
.note {
    padding: 18px 20px;
    background: #eee;
    text-decoration:none;
    background:#ffc;
    display:block;
    padding: 20px;
    width: 230px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    transform: rotate(-6deg);
    font-size: 18px;
}
.note h3 {
    font-size: 32px;
    margin: 0;
}