/*#advice{*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
/*}*/
.form-group{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}
#table_container{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;
}
#welcome{
    padding-right: 10px;
}
#btn_addReport{
    margin-right: 6px;
}
.center{
    text-align: center;
}
#form_update_report{
    padding: 25px;
}